// Fonts

@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//partials
@import "partials/welcome";

@import "partials/dashboard";
@import "partials/register";
@import "partials/item";
@import "partials/addnewitems";
@import "partials/edititems";

@import "partials/settings";
@import "partials/accountSettings";



body{
  height: 100vh;

}


.navbar{
  height: 6vh;

}

.lang_flag{
  width: 20px;
  height: 20px;
}

//overwrite card header
.card-header {
  padding: 1.25rem 1.25rem !important;
  padding-bottom: unset !important;
  margin-bottom: 0;
  background-color: unset !important;
  border-bottom:unset !important;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header-bg {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header-bg:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #727fd4;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: turquoise;
}

input:focus + .slider {
  box-shadow: 0 0 1px turquoise;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


//menu on mobile fix
@media only screen and (max-width: 450px) {
  .navbar-nav{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    .dropdown{
      width: 100%;
      padding: 10px;
      z-index: 10;
      background-color: white;

    }
  }

}