.nav_welcome{
  height: 6vh;
  box-shadow: 10px 10px 28px -7px rgba(0,0,0,.15);
}

.header_welcome_container{
  height: 70vh;
  //background-image: url("../assets/Open-Fridge.jpeg");

  display: grid;
  place-items: center;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, #ffffff 100%),
  url("../assets/Open-Fridge.jpeg");
  .row{


    h1{
      //margin-top: 14%;
      margin-bottom: auto;
      font-size: 84px;
      font-weight: 100;
    }
  }


}

.main_content_container{
  padding-top: 120px;
  padding-bottom: 120px;
  //background: rgb(114,127,212);
  //background: linear-gradient(0deg, rgba(114,127,212,1) 15%, rgba(114,212,202,1) 100%);
  //background-repeat: no-repeat;
  //height: 100%;

  .section_welcome_info_container{
    padding-bottom: 80px;
    box-shadow: 10px 10px 28px -7px rgba(0,0,0,.50);
    background-color: #727fd4;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    .welcome_info_container{
      padding: 20px;
      .welcome_info_header_text{
        font-size: 32px;
        font-weight: 100;
      }
      .welcome_info_text{
        margin-top: 40px;
        color: white;
      }
      .welcome_info_image_container{
        .welcome_info_image{
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .section_poi_info_container{

    .poi_info_container{
      padding-top: 120px;
      padding-bottom: 120px;
      .poi_icon{
        font-size: 60px;
        color: turquoise;
      }
      .poi_title{
        display: flex;
        align-items: center;
        h3{
          font-size: 26px;
          font-weight: 300;
        }
      }
      .poi_text{
        font-size: 18px;
      }
    }

    .poi_left_container{
      padding-right: 20px;
    }
    .poi_center_container{
      padding-left: 20px;
      padding-right: 20px;
    }
    .poi_right_container{
      padding-left: 20px;
    }
  }
}

.footer_container{
  background-color: #727fd4;
  height: 400px;
  padding-top: 80px;
  padding-bottom: 80px;

  .footer_contact_header{
    h5{
      color:white;
      font-size: 24px;
    }
  }
  .footer_mail_header{
      color: turquoise;
      font-size: 28px;
  }

  .footer_mail{
    display: flex;
    align-items: center;
    a {
      color: white;
      font-size: 16px;
    }
  }

  .footer_pages{
    display: flex;
    align-items: center;
    a {
      color: white;
      font-size: 16px;
    }
  }
}


@media only screen and (max-width: 770px) {
  .main_content_container {
    .section_poi_info_container {
      .poi_info_container {
        .poi_icon {
          font-size: 50px;
          color: turquoise;
        }

        .poi_title {
          display: flex;
          align-items: center;

          h3 {
            font-size: 20px;
            font-weight: 300;
          }
        }

        .poi_text {
          font-size: 18px;
        }
      }
    }
  }
}


@media only screen and (max-width: 755px) {
  .main_content_container {
    .section_poi_info_container {
      .poi_info_container {
        padding-top: 40px;
        padding-bottom: 40px;

        .poi_left_container{
          padding-right: unset;
        }
        .poi_center_container{
          padding-left: unset;
          padding-right: unset;
        }
        .poi_right_container{
          padding-left: unset;
        }
      }
    }
  }


}

@media only screen and (max-width: 455px) {
  .footer_container{
    padding-top: unset;
    padding-bottom: unset;
    .footer_contact_header{
      padding-top: 40px;
    }
  }
}