.account_settings_container{
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 28px -7px rgba(0,0,0,.15);
  border-radius: 10px;

  .account_setting_name{
    padding-top: 10px;
    padding-bottom: 10px;
    .account_setting_name_label{
      font-weight: 600;
    }
    .account_setting_input{
      width: 100%;
      border: 2px solid;
      border-top: 0px;

      border-left: 0px;
      border-right: 0px;

      border-color: turquoise;
      border-radius: 0px;
    }
  }


  .account_setting_mail{
    padding-top: 10px;
    padding-bottom: 10px;
    .account_setting_mail_label{
      font-weight: 600;
    }
    .account_setting_mail_input{

    }

  }

  .account_setting_language{
    padding-top: 10px;
    padding-bottom: 10px;
    .account_setting_language_label{
      font-weight: 600;
    }
    .account_setting_language_select{
      width: 100%;
      border: 2px solid;
      border-top: 0px;

      border-left: 0px;
      border-right: 0px;

      border-color: turquoise;
      border-radius: 0px;
    }
  }

  .account_setting_password{
    padding-top: 10px;
    padding-bottom: 10px;
    .account_setting_password_label{
      font-weight: 600;

    }
    .account_setting_reset_password{
      margin-top: -5px;
      color: white;
      background-color: turquoise;
      border: unset;
    }
    .account_setting_reset_password:hover {
      background-color: #727fd4;
    }
  }

  .account_setting_mail_notification{
    padding-top: 10px;
    padding-bottom: 10px;
    .account_setting_mail_notification_label{
      font-weight: 600;
    }
    .account_setting_mail_notification_input{

    }
  }

  .account_save_btn{
    margin-top: 20px;
    background-color: turquoise;;
    color: white;
    //background-color: white;
    font-size: 16px;
    border:0px solid turquoise;
  }
  .account_save_btn:hover {
    background-color: #727fd4;
    box-shadow: inset 5px 5px 14px -7px rgba(0,0,0,.75);
  }


}


@media only screen and (max-width: 450px) {
  .settings{
    .settings_side_nav{
      height: unset;
    }
  }
}