.add_new_item_modal{
  .modal-dialog{
    .modal-content{
      .modal-header{
        border-bottom: unset;
        font-size: 28px;
        font-weight: 600;

      }
      .add_new_item_form{
        .new_item_container{
          .new_item_form{
            .new_item_row{
              margin-top: 20px;
              margin-bottom: 20px;

              .new_item_title{
                font-weight: 600;
              }

              .new_item_input_text{
                border: 2px solid;
                border-top: 0px;

                border-left: 0px;
                border-right: 0px;

                border-color: turquoise;
                border-radius: 0px;

              }

              .new_item_type_select{
                border: 2px solid;
                border-top: 0px;

                border-left: 0px;
                border-right: 0px;

                border-color: turquoise;
                border-radius: 0px;

              }

              .new_item_input_date{
                border: 2px solid;
                border-top: 0px;

                border-left: 0px;
                border-right: 0px;

                border-color: turquoise;
                border-radius: 0px;

              }

              .new_item_input_date{
                border: 2px solid;
                border-top: 0px;

                border-left: 0px;
                border-right: 0px;

                border-color: turquoise;
                border-radius: 0px;

              }
            }
          }
        }
        .modal-footer {
          border-top: unset;

          .btn_close {
            color: white;
            background-color: #727fd4;
            border: unset;
          }

          .btn_close:hover {
            box-shadow: inset 5px 5px 14px -7px rgba(0, 0, 0, .75);
          }

          .btn_save {
            color: white;
            background-color: turquoise;
            border: unset;
          }

          .btn_save:hover {
            box-shadow: inset 5px 5px 14px -7px rgba(0, 0, 0, .75);
          }
        }
      }
      .modal-footer{
        border-top: unset;
      }
    }
  }

}


@media only screen and (max-width: 500px) {
  .add_new_item_modal {
    .modal-dialog {
      .modal-content {
        padding: 20px;
      }
    }
  }
}