.dashboard{

    .dashboard_side_nav{
        //background: rgb(114,127,212);

        background-color: #727fd4;
        //background: linear-gradient(0deg, rgba(114,127,212,1) 15%, rgba(114,212,202,1) 100%);
        //background-repeat: no-repeat;
        height: 94vh;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .dashboard_content{
        height: 94vh;
        overflow-y:auto;
    }

    //padding-top: 80px;
    //padding-bottom: 80px;


    .dashboard_header {


        .add_item_container {
            .add_item_btn {
                background-color: turquoise;
                width: 100%;
                color: white;
                //background-color: white;
                font-size: 22px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                border:0px solid turquoise;
            }
            .add_item_btn:hover{
                box-shadow: inset 5px 5px 14px -7px rgba(0,0,0,.75);
                //box-shadow: inset 10px 10px 28px -7px rgba(0, 0, 0, 0.75);

            }
        }

        hr{
            color: #1b1e21;
            width: 100%;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .filter_header{
            color: white;
            font-size: 28px;
            font-weight: 600;
        }

        .sort_filter_container {


            select {
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
                width: 100%;
                color: #45b6fe;
                background-color: white;
                font-size: 16px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 5px;
                border: 2px solid white;
            }

        }

        .filter_btn{
            margin-top: 20px;
            background-color: turquoise;;
            color: white;
            //background-color: white;
            font-size: 16px;
            border:0px solid turquoise;
        }
        .filter_btn:hover{
            box-shadow: inset 5px 5px 14px -7px rgba(0,0,0,.75);
            //box-shadow: inset 10px 10px 28px -7px rgba(0, 0, 0, 0.75);

        }
    }
}



@media only screen and (max-width: 500px) {
    .dashboard {

        .dashboard_side_nav {
            //background: rgb(114,127,212);

            background-color: #727fd4;
            height: unset !important;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .dashboard_content{
            height: unset;
            overflow-y:unset;
        }
    }

    .dashboard_header{
        .add_item_container {
            .add_item_btn {
                padding-top: unset;
                padding-bottom: unset;
            }
        }
        hr{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

}




