.section_item{
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 28px -7px rgba(0,0,0,.15);
  border-radius: 10px;
  .item_container{
    .item_label_container{
      border-right: 2px solid #727fd4;

    }
    .item_content_container{

    }

    .item_control_container{
      .edit_item_btn{
        color: white;
        background-color: turquoise;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 27px;
        border: 0px solid white;
      }
      .edit_item_btn:hover{
        background-color: turquoise;
        box-shadow: inset 5px 5px 14px -7px rgba(0,0,0,.75);
      }

      .delete_item_btn{
        color: white;
        background-color: turquoise;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 27px;
        border: 0px solid white;
      }

      .delete_item_btn:hover{
        background-color: turquoise;
        box-shadow: inset 5px 5px 14px -7px rgba(0,0,0,.75);
      }
    }
  }
}



@media only screen and (max-width: 1100px) {
  .section_item{
    .item_container{
      .item_control_container{
        .delete_item_btn{
          margin-top: 20px;
        }
      }
    }
  }
}