.register_body {
  background: rgb(114,127,212);
  background: linear-gradient(0deg, rgba(114,127,212,1) 15%, rgba(114,212,202,1) 100%);
  background-repeat: no-repeat;
  height: 94vh;

  .register_form_container {
    margin-top: 50%;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 28px -7px rgba(0, 0, 0, 0.75);

    .form-control {
      border: 2px solid;
      border-top: 0px;

      border-left: 0px;
      border-right: 0px;

      border-color: turquoise;
      border-radius: 0px;
    }

    .btnSubmit {
      color: white;
      background-color: turquoise;
      border: unset;
    }

    .btnSubmit:hover {
      background-color: #727fd4;
    }
  }
}


