.settings{

    .settings_side_nav{
        //background: rgb(114,127,212);

        background-color: #727fd4;
        //background: linear-gradient(0deg, rgba(114,127,212,1) 15%, rgba(114,212,202,1) 100%);
        //background-repeat: no-repeat;
        height: 94vh;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;

        .navbar_settings{

            .nav-item{
                color: white;
                .nav-link{
                    color: aliceblue;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

        }
    }

    .settings_content{
        height: 94vh;
        overflow-y:auto;
    }

    //padding-top: 80px;
    //padding-bottom: 80px;


    .settings_header {

        hr{
            color: #1b1e21;
            width: 100%;
            margin-top: 40px;
            margin-bottom: 40px;
        }


    }
}

@media only screen and (max-width: 450px) {
    .settings{
        .settings_side_nav{
            height: unset;
        }
    }
}